Importación librerias

In [4]:
import pandas as pd #dataframe

In [5]:
df = pd.read_csv("/workspaces/Mateo/src/vope_cdeo_ProyectoMateo/static/csv/datos_vio.csv",delimiter=",")
print(df.head())

   DEPARTAMENTO          MUNICIPIO CODIGO DANE                 ARMAS MEDIOS  \
0     ATLÁNTICO  BARRANQUILLA (CT)     8001000  ARMA BLANCA / CORTOPUNZANTE
1        BOYACÁ            DUITAMA    15238000  ARMA BLANCA / CORTOPUNZANTE
2       CAQUETÁ        PUERTO RICO    18592000  ARMA BLANCA / CORTOPUNZANTE
3      CASANARE               MANÍ    85139000  ARMA BLANCA / CORTOPUNZANTE
4  CUNDINAMARCA   BOGOTÁ D.C. (CT)    11001000  ARMA BLANCA / CORTOPUNZANTE

  FECHA HECHO     GENERO GRUPO ETARIO  CANTIDAD
0   1/01/2010  MASCULINO      ADULTOS         1
1   1/01/2010   FEMENINO      ADULTOS         1
2   1/01/2010  MASCULINO      ADULTOS         1
3   1/01/2010   FEMENINO      ADULTOS         1
4   1/01/2010   FEMENINO      ADULTOS         1

/tmp/ipykernel_2330/732988607.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/workspaces/Mateo/src/vope_cdeo_ProyectoMateo/static/csv/datos_vio.csv",delimiter=",")

1 renombrar columnas

In [14]:
df=df.rename(columns={'GENERO':'SEXO'})
print(df)

        DEPARTAMENTO          MUNICIPIO CODIGO DANE  \
0          ATLÁNTICO  BARRANQUILLA (CT)     8001000
1             BOYACÁ            DUITAMA    15238000
2            CAQUETÁ        PUERTO RICO    18592000
3           CASANARE               MANÍ    85139000
4       CUNDINAMARCA   BOGOTÁ D.C. (CT)    11001000
...              ...                ...         ...
476965       VICHADA      SANTA ROSALÍA    99624000
476966       VICHADA      SANTA ROSALÍA    99624000
476967       VICHADA      SANTA ROSALÍA    99624000
476968  CUNDINAMARCA              TAUSA    25793000
476969  CUNDINAMARCA          ZIPAQUIRÁ    25899000

                       ARMAS MEDIOS FECHA HECHO       SEXO GRUPO ETARIO  \
0       ARMA BLANCA / CORTOPUNZANTE   1/01/2010  MASCULINO      ADULTOS
1       ARMA BLANCA / CORTOPUNZANTE   1/01/2010   FEMENINO      ADULTOS
2       ARMA BLANCA / CORTOPUNZANTE   1/01/2010  MASCULINO      ADULTOS
3       ARMA BLANCA / CORTOPUNZANTE   1/01/2010   FEMENINO      ADULTOS
4       ARMA BLANCA / CORTOPUNZANTE   1/01/2010   FEMENINO      ADULTOS
...                             ...         ...        ...          ...
476965          SIN EMPLEO DE ARMAS       44250   FEMENINO      MENORES
476966          SIN EMPLEO DE ARMAS       44262   FEMENINO      ADULTOS
476967          SIN EMPLEO DE ARMAS       44300   FEMENINO      ADULTOS
476968                          NaN       44294   FEMENINO      ADULTOS
476969                          NaN       44245   FEMENINO      ADULTOS

        CANTIDAD
0              1
1              1
2              1
3              1
4              1
...          ...
476965         1
476966         1
476967         1
476968         1
476969         1

[476970 rows x 8 columns]

In [19]:
##varias columnas
df_rename = df.rename(columns={
    'DEPARTAMENTO':'ESTADOS',
    'MUNICIPIO':'PUEBLOS',
    'CODIGO DANE':'DANE'
})
print(df_rename)

             ESTADOS            PUEBLOS      DANE  \
0          ATLÁNTICO  BARRANQUILLA (CT)   8001000
1             BOYACÁ            DUITAMA  15238000
2            CAQUETÁ        PUERTO RICO  18592000
3           CASANARE               MANÍ  85139000
4       CUNDINAMARCA   BOGOTÁ D.C. (CT)  11001000
...              ...                ...       ...
476965       VICHADA      SANTA ROSALÍA  99624000
476966       VICHADA      SANTA ROSALÍA  99624000
476967       VICHADA      SANTA ROSALÍA  99624000
476968  CUNDINAMARCA              TAUSA  25793000
476969  CUNDINAMARCA          ZIPAQUIRÁ  25899000

                       ARMAS MEDIOS FECHA HECHO       SEXO GRUPO ETARIO  \
0       ARMA BLANCA / CORTOPUNZANTE   1/01/2010  MASCULINO      ADULTOS
1       ARMA BLANCA / CORTOPUNZANTE   1/01/2010   FEMENINO      ADULTOS
2       ARMA BLANCA / CORTOPUNZANTE   1/01/2010  MASCULINO      ADULTOS
3       ARMA BLANCA / CORTOPUNZANTE   1/01/2010   FEMENINO      ADULTOS
4       ARMA BLANCA / CORTOPUNZANTE   1/01/2010   FEMENINO      ADULTOS
...                             ...         ...        ...          ...
476965          SIN EMPLEO DE ARMAS       44250   FEMENINO      MENORES
476966          SIN EMPLEO DE ARMAS       44262   FEMENINO      ADULTOS
476967          SIN EMPLEO DE ARMAS       44300   FEMENINO      ADULTOS
476968                          NaN       44294   FEMENINO      ADULTOS
476969                          NaN       44245   FEMENINO      ADULTOS

        CANTIDAD
0              1
1              1
2              1
3              1
4              1
...          ...
476965         1
476966         1
476967         1
476968         1
476969         1

[476970 rows x 8 columns]


2 mostrar los datos de una sola columna

In [21]:
df.DEPARTAMENTO

0            ATLÁNTICO
1               BOYACÁ
2              CAQUETÁ
3             CASANARE
4         CUNDINAMARCA
              ...
476965         VICHADA
476966         VICHADA
476967         VICHADA
476968    CUNDINAMARCA
476969    CUNDINAMARCA
Name: DEPARTAMENTO, Length: 476970, dtype: object

In [26]:
##Datos unicos
df['DEPARTAMENTO'].unique()

array(['ATLÁNTICO', 'BOYACÁ', 'CAQUETÁ', 'CASANARE', 'CUNDINAMARCA',
       'SUCRE', 'VALLE', 'HUILA', 'ANTIOQUIA', 'ARAUCA', 'BOLÍVAR',
       'CALDAS', 'CAUCA', 'CESAR', 'CHOCÓ', 'CÓRDOBA', 'MAGDALENA',
       'META', 'NARIÑO', 'NORTE DE SANTANDER', 'PUTUMAYO', 'RISARALDA',
       'SANTANDER', 'TOLIMA', 'VAUPÉS', 'GUAVIARE', 'GUAJIRA', 'QUINDÍO',
       'AMAZONAS', 'VICHADA', 'GUAINÍA', 'SAN ANDRÉS', 'NO REPORTA'],
      dtype=object)

3 agrupar los datos

In [37]:
df.groupby(by="DEPARTAMENTO").size()

DEPARTAMENTO
AMAZONAS               1408
ANTIOQUIA             57288
ARAUCA                 3852
ATLÁNTICO             17516
BOLÍVAR               15954
BOYACÁ                26920
CALDAS                 8742
CAQUETÁ                4857
CASANARE               6418
CAUCA                 13947
CESAR                  7109
CHOCÓ                  2071
CUNDINAMARCA          88100
CÓRDOBA               10800
GUAINÍA                 518
GUAJIRA                4434
GUAVIARE                886
HUILA                 16547
MAGDALENA              9691
META                  16223
NARIÑO                14373
NO REPORTA                6
NORTE DE SANTANDER    14919
PUTUMAYO               3104
QUINDÍO                4800
RISARALDA             14381
SAN ANDRÉS             1155
SANTANDER             38493
SUCRE                  9745
TOLIMA                17007
VALLE                 44909
VAUPÉS                  373
VICHADA                 424
dtype: int64

In [39]:
##Agrupar por dos columnas y contar armas medios
df.groupby(['DEPARTAMENTO', 'MUNICIPIO'])['ARMAS MEDIOS'].count()

DEPARTAMENTO  MUNICIPIO
AMAZONAS      LETICIA (CT)           1307
              PUERTO NARIÑO           101
ANTIOQUIA     ABEJORRAL                91
              ABRIAQUÍ                  4
              ALEJANDRÍA               53
                                     ...
VAUPÉS        TARAIRA                  23
VICHADA       CUMARIBO                 30
              LA PRIMAVERA             50
              PUERTO CARREÑO (CT)     318
              SANTA ROSALÍA            26
Name: ARMAS MEDIOS, Length: 1104, dtype: int64

4 buscar un dato en una celda

In [43]:
df[df['CODIGO DANE'] == '19698000']

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,SEXO,GRUPO ETARIO,CANTIDAD
196631,CAUCA,SANTANDER DE QUILICHAO,19698000,CONTUNDENTES,2/12/2016,FEMENINO,ADULTOS,1
196732,CAUCA,SANTANDER DE QUILICHAO,19698000,CONTUNDENTES,3/12/2016,FEMENINO,ADOLESCENTES,1
196733,CAUCA,SANTANDER DE QUILICHAO,19698000,CONTUNDENTES,3/12/2016,MASCULINO,ADULTOS,1
196841,CAUCA,SANTANDER DE QUILICHAO,19698000,CONTUNDENTES,4/12/2016,FEMENINO,ADULTOS,1
196973,CAUCA,SANTANDER DE QUILICHAO,19698000,CONTUNDENTES,5/12/2016,FEMENINO,ADULTOS,1
...,...,...,...,...,...,...,...,...
390337,CAUCA,SANTANDER DE QUILICHAO,19698000,CONTUNDENTES,28/04/2020,FEMENINO,ADULTOS,1
391172,CAUCA,SANTANDER DE QUILICHAO,19698000,CONTUNDENTES,1/05/2020,FEMENINO,ADULTOS,1
391747,CAUCA,SANTANDER DE QUILICHAO,19698000,CONTUNDENTES,3/05/2020,MASCULINO,ADULTOS,1
392024,CAUCA,SANTANDER DE QUILICHAO,19698000,CONTUNDENTES,4/05/2020,FEMENINO,ADULTOS,1
392328,CAUCA,SANTANDER DE QUILICHAO,19698000,SIN EMPLEO DE ARMAS,5/05/2020,FEMENINO,ADULTOS,1

In [ ]:
##Buscar sin mencionar columna
df[df.isin([19698000]).any(axis=1)]

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,SEXO,GRUPO ETARIO,CANTIDAD
33,CAUCA,SANTANDER DE QUILICHAO,19698000,CONTUNDENTES,1/01/2010,FEMENINO,ADULTOS,1
8779,CAUCA,SANTANDER DE QUILICHAO,19698000,CONTUNDENTES,13/07/2010,FEMENINO,ADULTOS,1
8812,CAUCA,SANTANDER DE QUILICHAO,19698000,CONTUNDENTES,14/07/2010,FEMENINO,ADULTOS,1
8881,CAUCA,SANTANDER DE QUILICHAO,19698000,CONTUNDENTES,16/07/2010,MASCULINO,ADULTOS,1
12618,CAUCA,SANTANDER DE QUILICHAO,19698000,CONTUNDENTES,14/10/2010,MASCULINO,ADULTOS,1
...,...,...,...,...,...,...,...,...
468329,CAUCA,SANTANDER DE QUILICHAO,19698000,SIN EMPLEO DE ARMAS,4/04/2021,MASCULINO,MENORES,1
468330,CAUCA,SANTANDER DE QUILICHAO,19698000,SIN EMPLEO DE ARMAS,13/04/2021,FEMENINO,ADULTOS,1
468331,CAUCA,SANTANDER DE QUILICHAO,19698000,SIN EMPLEO DE ARMAS,15/04/2021,FEMENINO,ADULTOS,1
468332,CAUCA,SANTANDER DE QUILICHAO,19698000,SIN EMPLEO DE ARMAS,22/04/2021,FEMENINO,ADULTOS,1
468333,CAUCA,SANTANDER DE QUILICHAO,19698000,SIN EMPLEO DE ARMAS,31/05/2021,FEMENINO,ADULTOS,1

5 poner de una celda la primera en mayuscula

In [47]:
df['MUNICIPIO'] = df['MUNICIPIO'].str.capitalize()
print(df)

        DEPARTAMENTO          MUNICIPIO CODIGO DANE  \
0          ATLÁNTICO  Barranquilla (ct)     8001000
1             BOYACÁ            Duitama    15238000
2            CAQUETÁ        Puerto rico    18592000
3           CASANARE               Maní    85139000
4       CUNDINAMARCA   Bogotá d.c. (ct)    11001000
...              ...                ...         ...
476965       VICHADA      Santa rosalía    99624000
476966       VICHADA      Santa rosalía    99624000
476967       VICHADA      Santa rosalía    99624000
476968  CUNDINAMARCA              Tausa    25793000
476969  CUNDINAMARCA          Zipaquirá    25899000

                       ARMAS MEDIOS FECHA HECHO       SEXO GRUPO ETARIO  \
0       ARMA BLANCA / CORTOPUNZANTE   1/01/2010  MASCULINO      ADULTOS
1       ARMA BLANCA / CORTOPUNZANTE   1/01/2010   FEMENINO      ADULTOS
2       ARMA BLANCA / CORTOPUNZANTE   1/01/2010  MASCULINO      ADULTOS
3       ARMA BLANCA / CORTOPUNZANTE   1/01/2010   FEMENINO      ADULTOS
4       ARMA BLANCA / CORTOPUNZANTE   1/01/2010   FEMENINO      ADULTOS
...                             ...         ...        ...          ...
476965          SIN EMPLEO DE ARMAS       44250   FEMENINO      MENORES
476966          SIN EMPLEO DE ARMAS       44262   FEMENINO      ADULTOS
476967          SIN EMPLEO DE ARMAS       44300   FEMENINO      ADULTOS
476968                          NaN       44294   FEMENINO      ADULTOS
476969                          NaN       44245   FEMENINO      ADULTOS

        CANTIDAD
0              1
1              1
2              1
3              1
4              1
...          ...
476965         1
476966         1
476967         1
476968         1
476969         1

[476970 rows x 8 columns]

6 agregar una columna con la fecha actual

In [54]:
import datetime

df['FECHA_ACTUAL'] = datetime.date.today()
print(df.head())

   DEPARTAMENTO          MUNICIPIO CODIGO DANE                 ARMAS MEDIOS  \
0     ATLÁNTICO  Barranquilla (ct)     8001000  ARMA BLANCA / CORTOPUNZANTE
1        BOYACÁ            Duitama    15238000  ARMA BLANCA / CORTOPUNZANTE
2       CAQUETÁ        Puerto rico    18592000  ARMA BLANCA / CORTOPUNZANTE
3      CASANARE               Maní    85139000  ARMA BLANCA / CORTOPUNZANTE
4  CUNDINAMARCA   Bogotá d.c. (ct)    11001000  ARMA BLANCA / CORTOPUNZANTE

  FECHA HECHO       SEXO GRUPO ETARIO  CANTIDAD FECHA_ACTUAL
0   1/01/2010  MASCULINO      ADULTOS         1   2025-06-02
1   1/01/2010   FEMENINO      ADULTOS         1   2025-06-02
2   1/01/2010  MASCULINO      ADULTOS         1   2025-06-02
3   1/01/2010   FEMENINO      ADULTOS         1   2025-06-02
4   1/01/2010   FEMENINO      ADULTOS         1   2025-06-02

7 dividir la columna anterior en 4 columnas [year,month,day,year_month]

In [60]:
df['FECHA_ACTUAL'] = pd.to_datetime(df['FECHA_ACTUAL'])
df['year'] = df['FECHA_ACTUAL'].dt.year
df['month'] = df['FECHA_ACTUAL'].dt.month
df['day'] = df['FECHA_ACTUAL'].dt.day
df['year_month'] = df['FECHA_ACTUAL'].dt.strftime('%Y-%m')
print(df.head())

   DEPARTAMENTO          MUNICIPIO CODIGO DANE                 ARMAS MEDIOS  \
0     ATLÁNTICO  Barranquilla (ct)     8001000  ARMA BLANCA / CORTOPUNZANTE
1        BOYACÁ            Duitama    15238000  ARMA BLANCA / CORTOPUNZANTE
2       CAQUETÁ        Puerto rico    18592000  ARMA BLANCA / CORTOPUNZANTE
3      CASANARE               Maní    85139000  ARMA BLANCA / CORTOPUNZANTE
4  CUNDINAMARCA   Bogotá d.c. (ct)    11001000  ARMA BLANCA / CORTOPUNZANTE

  FECHA HECHO       SEXO GRUPO ETARIO  CANTIDAD FECHA_ACTUAL  year  month  \
0   1/01/2010  MASCULINO      ADULTOS         1   2025-06-02  2025      6
1   1/01/2010   FEMENINO      ADULTOS         1   2025-06-02  2025      6
2   1/01/2010  MASCULINO      ADULTOS         1   2025-06-02  2025      6
3   1/01/2010   FEMENINO      ADULTOS         1   2025-06-02  2025      6
4   1/01/2010   FEMENINO      ADULTOS         1   2025-06-02  2025      6

   day year_month
0    2    2025-06
1    2    2025-06
2    2    2025-06
3    2    2025-06
4    2    2025-06

8 cambiar formato de fecha de la columna FECHA HECHO , al formato [YYYY-MM-DD]

In [65]:
import pandas as pd
df['FECHA HECHO'] = pd.to_datetime(df['FECHA HECHO'], errors='coerce')
df['FECHA HECHO'] = df['FECHA HECHO'].dt.strftime('%Y-%m-%d')
print(df.head())

   DEPARTAMENTO          MUNICIPIO CODIGO DANE                 ARMAS MEDIOS  \
0     ATLÁNTICO  Barranquilla (ct)     8001000  ARMA BLANCA / CORTOPUNZANTE
1        BOYACÁ            Duitama    15238000  ARMA BLANCA / CORTOPUNZANTE
2       CAQUETÁ        Puerto rico    18592000  ARMA BLANCA / CORTOPUNZANTE
3      CASANARE               Maní    85139000  ARMA BLANCA / CORTOPUNZANTE
4  CUNDINAMARCA   Bogotá d.c. (ct)    11001000  ARMA BLANCA / CORTOPUNZANTE

  FECHA HECHO       SEXO GRUPO ETARIO  CANTIDAD FECHA_ACTUAL  year  month  \
0  2010-01-01  MASCULINO      ADULTOS         1   2025-06-02  2025      6
1  2010-01-01   FEMENINO      ADULTOS         1   2025-06-02  2025      6
2  2010-01-01  MASCULINO      ADULTOS         1   2025-06-02  2025      6
3  2010-01-01   FEMENINO      ADULTOS         1   2025-06-02  2025      6
4  2010-01-01   FEMENINO      ADULTOS         1   2025-06-02  2025      6

   day year_month
0    2    2025-06
1    2    2025-06
2    2    2025-06
3    2    2025-06
4    2    2025-06